langchain
langchain-openai
python-dotenv
langchain_community
langchain_core
streamlit
openai
langchain-groq
chromadb
langchain-chroma
langchain-huggingface
arxiv
wikipedia
pathlib
streamlit
langchain_groq
sentence_transformers
pypdf
faiss-cpu
pymupdf
amadeus
scikit-learn==1.6.1
matplotlib
numpy==1.26.4
pandas==2.3.1
joblib==1.5.1
seaborn

